/* initialisation de la page */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--fg1);
}
:root {
  --bg1: #f0f0f0;
  --fg1: #131313;
  --bgNav: rgb(124, 227, 255);
  font-family: "montserrat";
  font-weight: 600;
  font-size: 20px;
}
body {
  background-color: var(--bg1);
}
.container {
  width: 90%;
  margin: auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
h1,
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
h3 {
  writing-mode: vertical-rl;
  font-weight: 500;
}
h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.nav-title {
  position: relative;
  text-transform: capitalize;
  margin: 15px;
}
.burger {
  margin: 15px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.burger.active .bar:nth-child(2) {
  opacity: 0;
}
.burger.active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}
.burger.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--fg1);
  margin: 4px 0;
  transition: 150ms ease;
}
.menu {
  position: absolute;
  left: -100vh;
  background-color: var(--bgNav);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  transition: 350ms ease-in-out;
}
.menu.active {
  left: 0;
}
.menu li {
  position: relative;
  text-align: end;
}
/*FIXME animation*/
.menu li::after,
.nav-title::after,
.socials li::after,
.mail::after {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 3px;
  background: var(--fg1);
  content: "";
}

.title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.description {
  text-align: center;
}

.m100-0 {
  margin: 100px 0;
}

.back-num-page {
  position: absolute;
  top: calc(50% - 5rem);
  right: 10%;
  font-size: 6rem;
  color: var(--fg1);
  opacity: 0.2;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials li {
  position: relative;
  margin: 0 10px;
  font-size: 0.8rem;
  padding-bottom: 5px;
}
.mail {
  position: relative;
}
